.text-input {
  &__label {
    display: block;
    margin: 0 0 10px;
  }

  &__field {
    width: 100%;
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #333;
    border-radius: 3px;
    box-sizing: border-box;
    background: 0;

    &--color {
      width: 40px;
      height: 40px;
      padding: 5px;
    }

    &--textarea {
      height: auto;
      resize: virtual;
    }
  }
}
