.card-control {
  &__title {
    margin-bottom: 20px;
  }

  &__fieldset {
    display: block;
    margin-bottom: 30px;
    padding: 20px 15px;
    border-radius: 5px;
    border-color: #eee;
  }

  &__from-control {
    & + & {
      margin-top: 20px;
    }
  }
}
