@use "sass:math";
.card-banner {
  display: grid;
  place-content: center;
  padding-top: 0.25em;
  padding-left: math.div(38em, 16);
  padding-right: math.div(38em, 16);

  &__text {
    white-space: nowrap;
    overflow: hidden;
  }
}
