@use "sass:math";

// I decided to use a relative fonts for the size of card and child components.
// This will allow us to scale the card by changing font size.
// The advantage of this method is a correct aspect ratio and text sizes.
// The disadvantage is the need to monitor changes in the width of parent container: we can calculate the font size and set it as inline CSS.

// Calculate basic font size for card.
$MM_TO_PIX_RATIO: 3.77952; // constant
$cardWidthInMm: 53.98; // expected card width in millimeters
$basicFontSize: 16; // document basic font-size
$cardWidthInEm: math.div(534, $basicFontSize); // convert card width in Em.
// 534 - size of the card in pixels(figma mock)
$mmToEmRatio: math.div(
  $cardWidthInMm,
  $cardWidthInEm
); // millimeters to em ratio
$card-basic-font-size: $mmToEmRatio * $MM_TO_PIX_RATIO; // card basic font size

.virtual-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  width: math.div(534em, $basicFontSize);
  height: math.div(847em, $basicFontSize);
  overflow: hidden;
  border-radius: math.div(27em, $basicFontSize);
  box-shadow: -8px 6px 24px rgba(0, 0, 0, 0.75);
  background: #ffffff;
  font-size: Min(#{$card-basic-font-size}px, calc(100vw / #{$basicFontSize}));

  &__preloader {
    font-size: 2em;
  }

  &__logo {
    min-height: math.div(236em, $basicFontSize);
    padding-top: math.div(12em, $basicFontSize);
    padding-bottom: 1em;
    box-sizing: border-box;

    img {
      width: auto;
      height: math.div(210em, $basicFontSize);
      object-fit: contain;
    }
  }

  &__banner {
    text-transform: uppercase;
  }

  &__employee-details {
    flex-grow: 1;
  }
}
