@use "sass:math";

$picture-width: math.div(229em, 16);
$picture-height: math.div(293em, 16);

.employee-details {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding-top: math.div(12em, 16);
  padding-left: math.div(39em, 16);
  padding-bottom: math.div(30em, 16);

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    margin-bottom: 0.5em;
  }

  &__footer {
    display: flex;
    margin-top: auto;
    height: $picture-height;
    padding-right: math.div(26em, 16);
  }

  &__left-col {
    $col-max-width: calc(100% - #{$picture-width});
    flex: 0 0 $col-max-width;
    max-width: $col-max-width;
    display: flex;
    flex-direction: column;
  }

  &__hologram {
    flex: 1;
    display: grid;
    place-items: center;

    img {
      width: auto;
      height: math.div(143em, 16);
      object-fit: contain;
    }
  }

  &__picture {
    flex: 0 0 $picture-width;
    height: $picture-height;
    overflow: hidden;

    img {
      height: $picture-height;
      width: 100%;
      object-fit: contain;
    }
  }

  &__valid-until:first-child {
    margin-top: auto;
  }
}
