.preloader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: grid;
  place-content: center;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: inherit;
}

.spinner {
  width: 2em;
  height: 2em;
  border: 0.25em solid transparent;
  border-right-color: currentColor;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
