@use "sass:math";

.headline {
  margin: 0;
  padding: 0;

  &--level-1 {
    font-size: 4em;
    letter-spacing: 0.08em;
    font-weight: bold;
  }

  &--level-2 {
    font-size: math.div(36em, 16);
    font-weight: bold;
    letter-spacing: 0.01em;
  }

  &--level-3 {
    font-size: 1.5em;
    font-weight: 500;
  }
}
