.App {
  max-width: 800px;
  margin: 0 auto;
  padding: min(60px, 5vw);
  box-sizing: border-box;
}

.App__title {
  margin: 0 0 1.5em;
}

.App__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.App__card-control {
  flex: 1;
}
